@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
    <div class="sales">
        <div class="container" align="center">
            <div class="row">
                <!-- <button type=button class="btn btn-info"> Test Buttton</button> -->
                <div class="col-lg-3"><input type=image src="styles/images/SalesMenu.png" width="100%"></div>
                <div class="col-lg-3"><input type=image src="styles/images/SalesMenu.png" width="100%"></div>
                <div class="col-lg-3"><input type=image src="styles/images/SalesMenu.png" width="100%"></div>
            </div>
            <div class="row"></div>
            <div class="row">
                <!-- <button type=button class="btn btn-info"> Test Buttton</button> -->
                <div class="col-lg-3"><input type=image src="styles/images/SalesMenu.png" width="100%"></div>
                <div class="col-lg-3"><input type=image src="styles/images/SalesMenu.png" width="100%"></div>
                <div class="col-lg-3"><input type=image src="styles/images/SalesMenu.png" width="100%"></div>
            </div>
        </div>
    </div>
    <!--<div class="container">
        <div class="row">
            <div class=" darkBG col-sm-4 col-xs-12">
                test1
            </div>

            <div class=" darkerBG col-sm-4 col-xs-6">
                test2
            </div>

            <div class=" darkestBG col-sm-4 col-xs-6">
                test
            </div>
        </div>
    </div>-->
    <!-- Latest compiled and minified JavaScript -->
