@{
    ViewBag.Title = "SMS";
}

<h2>SMS</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("Number");
    <br />
    <br />
    @Html.TextArea("Message");
    <br />
    <br />
    <input type="submit" value="Send">
}