@model CLIMAX.Models.Treatments

@{
    ViewBag.Title = "Delete";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Are you sure you want to Delete the Treatment?</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Treatments", "Index") > Delete 
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.TreatmentName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TreatmentName)
                            </dd>
                        </dl>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />
                            </div>
                        }
                    </div>


                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


    
   

